name: Build Aparajito APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          # Using 8.12 to avoid the strict "mutation" errors of 9.3.0
          gradle-version: 8.12

      - name: Build with Gradle
        # 'clean' ensures we don't have leftover conflicts from failed runs
        run: gradle clean assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Aparajito-APK
          path: app/build/outputs/apk/debug/*.apk
